body {
    font-family: "Bangers", "Comic Neue", sans-serif;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

p {
    font-family: "Comic Neue", sans-serif;
    font-weight: bolder;
}

button {
    font-family: "bangers", "Comic Neue", sans-serif;
    font-size: 100%;
    background-color: #8782d8;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.scores {
    position: absolute;
    top: 20px;
    left: 20px;
}

.timer {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #551a8b;
}

.wrapper {
    margin: 100px;
    text-align: center;
}

.button {
    font-size: 20px;
    width: 100px;
    padding: 8px;
}

.hide {
    display: none;
}
